@using SkvProject.Web.ViewModels.Posts
@model PostDetailsViewModel

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">CreatedOn</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <td>@Model.Title</td>
                <td>@Model.Content</td>
                <td>@Model.CreatedOn.ToString("F")</td>
                <td><a class="btn btn-danger" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">Delete</a></td>
            </tr>
        </tbody>
</table>