@using SkvProject.Web.ViewModels.Comments
@model CommentInputModel

@{
    this.ViewData["Title"] = "Add new comment";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows=8 placeholder="Content here..."></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>
